{{ partial "head" . }}
{{ partial "header" .}}

<main id="page-main" class="container-fluid">
    <div class="grid">
        <div class="g-col-12">
            <h1 class="mt-2">{{ .Title }}</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque libero animi natus iusto corporis aliquam distinctio aliquid placeat, quod ea rerum maxime magnam, neque harum quo adipisci officia laudantium qui?
            </p>
        </div>
    </div>
    <div class="grid">
        {{ range .Pages }}
        <div class="g-col-sm-12 g-col-md-6 g-col-lg-4">
            <article class="card bg-dark-accent h-100">
                {{ if isset .Params "thumbnail"}}
                <img src="{{.Site.BaseURL}}/img/project-thumbnails/{{ .Params.thumbnail }}" alt="{{ .Title }}" class="card-img-top" />
                {{ else }}
                {{ if isset .Params "gh_thumbnail"}}
                <img src="{{ .Params.gh_thumbnail }}" alt="{{ .Title }}" class="card-img-top" />
                {{ else }}
                <img src="https://dummyimage.com/1200x600/d6d6d6/fff.jpg&text={{.Title}}" alt="{{ .Title }}" class="card-img-top" />
                {{ end }}
                {{ end }}
                <div class="card-body">
                    <h2 class="card-title h3">{{ .Name }}</h2>
                    <p class="card-text">
                        {{ .Summary | truncate 120 }} <br>
                        {{ range .Params.tags }}
                        #{{ . }}
                        {{ end }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ .RelPermalink }}" class="btn btn-dark">View</a>
                </div>
            </article>
        </div>
        {{ end }}
    </div>

</main>

{{ partial "footer" . }}