<div class="wrapper">
    {{> header}}
    <main id="page-main">
        <a href="/projects" id="top-arrow">
            <i class="fas fa-arrow-left"></i> Back to projects list</a>
        <img src="https://dylangore.ie/wp-content/uploads/2018/01/blank-project.jpg" alt="Iris">
        <div id="content">
            <h1>Project Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi id cumque, maxime eius consequuntur est beatae
                ratione consequatur itaque, exercitationem quas corrupti impedit quae alias omnis, nisi adipisci molestias
                rem.</p>
            <a href="#" class="btn-project">View Source</a>
        </div>
        <div id="tags">
            <i class="fab fa-html5 fa-2x"></i>
            <i class="fab fa-css3 fa-2x"></i>
            <i class="fab fa-js fa-2x"></i>
        </div>
    </main>
    {{> footer}}
</div>
</body>

</html>