<div class="wrapper">
    {{> header}}
    <main id="page-main">
        <h1>Projects</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus.</p>
        <div id="projects">
            <article>
                <img src="https://dylangore.ie/wp-content/uploads/2018/01/blank-project.jpg" alt="Iris">
                <div class="content">
                    <h3>Iris</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque enim accusamus est asperiores explicabo.</p>
                    <a href="/projects/project" class="btn-project">View</a>
                </div>
            </article>
            <article>
                <img src="https://dylangore.ie/wp-content/uploads/2018/02/game-central.jpg" alt="Game Central">
                <div class="content">
                    <h3>Game Central</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque enim accusamus est asperiores explicabo.</p>
                    <a href="/projects/project" class="btn-project">View</a>
                </div>
            </article>
            <article>
                <img src="https://dylangore.ie/wp-content/uploads/2017/03/crazy-carts.jpg" alt="Crazy Carts">
                <div class="content">
                    <h3>Crazy Carts</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque enim accusamus est asperiores explicabo.</p>
                    <a href="/projects/project" class="btn-project">View</a>
                </div>
            </article>
        </div>
    </main>
    {{> footer}}
</div>