/* Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

html{
    height:100%;
    max-height: 100%;
}

/* Global Setttings */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}

/* Main Content */
div#cover {
    color: #fff;
    text-align: center;
    background: no-repeat center center url('../img/header.jpg') #2e4b7a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

#cover-content {
    align-self: center;
    justify-self: center;
    padding: 2% 0 2%;
}

#cover-content>img {
    border-radius: 100%;
}

#cover-content>h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
}

#cover-content>p {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#cover-content>a {
    text-decoration: none;
    color: #fff;
    padding: 1.2em;
    background: #2e4b7a;
    border-radius: 5px;
}

#cover-content>a:hover {
    background: #243a5e;
}

ul#skills {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    list-style-type: none;
    padding-bottom: 2.5em;
}

ul#skills>li {
    padding: 4%;
    width: 100%;
    align-self: center;
    justify-self: center;
}

/* Footer */
#cover-footer {
    margin:1.5em 0 0;
    padding: 0;
}

ul#links {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    list-style-type: none;
    padding-bottom: 2.5em;
    width: 95%;
}

ul#links>li {
    width: 100%;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
}

#cover-footer a {
    text-decoration: none;
    color: #fff;
    padding: 1.2em;
    margin: 0;
}

#dev-badge {
    filter: invert(1);
}

a#github:hover {
    color: #333;
}

a#twitter:hover {
    color: #1da1f2;
}

a#devto>img:hover {
    filter: invert(0);
}

a#linkedin:hover {
    color: #0077b5;
}

a#email:hover {
    color: #dd5143;
}

#cover-footer .fa-2x,
#cover-footer img {
    vertical-align: middle;
}

/* Responsive */
@media screen and (max-width: 767px) {
    /* Up to Tablet Viewport */
    ul#skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #cover-content>img {
        border-radius: 100%;
        width: 40%;
        height: 40%;
    }

    ul#links{
        margin: 0;
    }
}

@media screen and (min-width: 426px) {
    /* Larger than Mobile-L */
    ul#links {
        margin: 0 auto;
        max-width: 50%;
    }
}

