/* Global Setttings */
h2{
    margin: 0.5em auto;
    text-transform: uppercase;
}


section{
    min-height: 25vh;
}

/* Section Settings */
/* Header */
#page-header{
    height: 100vh;
    background: no-repeat center center fixed url('../img/header.jpg') #2e4b7a;
    background-size: cover;
}

#header-main{
    color: #fff;
}

/* Main */
#page-main{
    min-height: 50vh;
}

/* Footer */
#page-footer{
    padding: 0.6em 0;
    color: #fff;
    margin: 0;
}

#copyright{
    padding: 1% 0;
    margin: 0;
}

/* General */
.project-card{
    margin-bottom: 2em;
    border: none;
    border-radius: 0px;
}
.project-card .card-img-top{
    border-radius: 0px;
}

.project-card h3{
    font-size: 1.4em;
    text-transform: uppercase;
}

.badge{
    padding: 2% !important;
}

/* Debug & Testing */
/* section#about{
    background: red;
}
section#projects{
    background: teal;
}
section#contact{
    background: olive;
} */