<header id="page-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarMain">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{.Site.BaseURL}}">Dylan Gore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="https://github.com/DylanGore" target="_blank"><span class="iconify" data-icon="mdi:github" data-inline="true"></span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/DylanGore" target="_blank"><span class="iconify" data-icon="mdi:twitter" data-inline="true"></span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/dylangore" target="_blank"><span class="iconify" data-icon="mdi:linkedin" data-inline="true"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>