{{ partial "header" . }}

<main id="cover-content">
    <img src="{{ .Site.BaseURL }}/img/dylan.jpg" alt="Dylan Gore" />
    <h1>Dylan Gore</h1>
    <p>Wexford, Ireland</p>
    <ul id="skills">
        <li><span class="iconify" data-icon="fa-brands:html5"></span> HTML</li>
        <li><span class="iconify" data-icon="fa-brands:css3"></span> CSS</li>
        <li><span class="iconify" data-icon="fa-brands:js"></span> Javascript</li>
        <li><span class="iconify" data-icon="fa-brands:python"></span> Python</li>
        <li><span class="iconify" data-icon="fa-brands:java"></span> Java</li>
        <li><span class="iconify" data-icon="fa-brands:node"></span> NodeJS</li>
        <li><span class="iconify" data-icon="fa-brands:vuejs"></span> VueJS</li>
        <li><span class="iconify" data-icon="fa-brands:docker"></span> Docker</li>
        <li><span class="iconify" data-icon="fa-brands:linux"></span> Linux</li>
    </ul>
    <a href="{{ .Site.BaseURL }}/projects">View Projects</a>
    {{/*  <ul id="links">
        <li>
            <a href="" target="_blank" class="" title="">
                <span class="iconify icon-2x" data-icon="fa-brands:twitter"></span>
                <span class="iconify icon-2x" data-icon="fa-brands:github"></span>
                <span class="iconify icon-2x" data-icon="fa-brands:dev"></span>
                <span class="iconify icon-2x" data-icon="fa-brands:linkedin-in"></span>
                <span class="iconify icon-2x" data-icon="fa-solid:envelope-o"></span>
            </a>
        </li>
    </ul>  */}}
</main>

{{ partial "footer" . }}