<footer id="page-footer">
    <p id="github-link">
        <a href="https://github.com/DylanGore/dylangore.ie" class="footer-link" target="_blank">
            <i class="fab fa-github"></i>&nbsp;View Source on Github
        </a>
    </p>
    <p id="copyright">
        &copy; Copyright 2018 <a href="https://dylangore.ie" class="footer-link">Dylan Gore</a>
    </p>
    <p id="auth-links">
        {{#if user}}
            <a class="footer-link" href="/dashboard">Dashboard</a> | 
            <a class="footer-link" href="/auth/logout">Logout</a>
        {{else}}
            <a class="footer-link" href="/auth/login">Login</a>
        {{/if}}
    </p>
</footer>