{{ partial "header" . }}

<main id="page-main">

    <h1>{{ .Title }}</h1>

    <h2>Social Media</h2>
    <ul id="contactLinks">
        <li>
            <a href="https://twitter.com/DylanGore" class="twitter-icon" target="_blank" title="Twitter">
                <span class="iconify" data-icon="fa-brands:twitter"></span> Twitter
            </a>
        </li>
        <li>
            <a href="https://github.com/DylanGore" class="github-icon" target="_blank" title="GitHub">
                <span class="iconify" data-icon="fa-brands:github"></span> GitHub
            </a>
        </li>
        <li>
            <a href="https://dev.to/DylanGore" class="devto-icon" target="_blank" title="Dev.to">
                <span class="iconify" data-icon="fa-brands:dev"></span> Dev.to
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/dylangore/" class="linkedin-icon" target="_blank" title="LinkedIn">
                <span class="iconify" data-icon="fa-brands:linkedin-in"></span> LinkedIn
            </a>
        </li>
        <li>
            <a href="mailto:hello@dylangore.ie" class="email-icon" title="E-mail">
                <span class="iconify" data-icon="fa-solid:envelope"></span> E-mail
            </a>
        </li>
    </ul>

</main>

{{ partial "footer" . }}