<div id="cover" class="wrapper">
    <main id="cover-content">
        <img src="img/dylan.jpg" alt="Dylan Gore">
        <h1>Dylan Gore</h1>
        <p>Wexford, Ireland</p>
        <ul id="skills">
            <li><i class="fab fa-html5"></i> HTML</li>
            <li><i class="fab fa-css3"></i> CSS</li>
            <li><i class="fab fa-js"></i> JavaScript</li>
            <li><i class="fab fa-python"></i> Python</li>
            <li><i class="fab fa-java"></i> Java</li>
            <li><i class="fab fa-node"></i> NodeJS</li>
        </ul>
        <a href="/projects" role="button" title="View Projects">View Projects</a>
    </main>
    <footer id="cover-footer">
        <ul id="links">
            <li><a href="https://github.com/DylanGore" target="_blank" id="github" title="GitHub"><i class="fab fa-2x fa-github"></i></a></li>
            <li><a href="https://twitter.com/DylanGore" target="_blank" id="twitter" title="Twitter"><i class="fab fa-2x fa-twitter"></i></a></li>
            <li><a href="https://dev.to/DylanGore" target="_blank" id="devto" title="dev.to"><img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Dylan Gore's DEV Profile" height="30" width="30" id="dev-badge"/></a></li>
            <li><a href="https://www.linkedin.com/in/dylangore/" target="_blank" id="linkedin" title="LinkedIn"><i class="fab fa-2x fa-linkedin"></i></a></li>
            <li><a href="mailto:hello@dylangore.ie" id="email" title="E-mail"><i class="fas fa-2x fa-at"></i></a></li>
        </ul>
        <p id="copyright">&copy; Copyright 2018 Dylan Gore</p>
    </footer>
</div>